header {
    background-image: url(assets/img/bg.png);
    background-size: 100% 100%;
    background-position: center;  
    background-repeat: no-repeat; 
    width: 100vw;   
    height: 100vh;  
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    position: relative;
}

.logo {
    width: 101.62px;
    height: 23px;
    position: absolute;
	top:20px;
    left: 50%;
    transform: translateX(-50%);
	padding-top: 19px;
}


	.header-text {
		margin-top: 367px;
	}
   



.header-tittle {
	font-family: $font-bebas;
	font-weight: 700;
    font-size: 60px;
    line-height: 70.31px;
	color: rgb(255, 255, 255);
	letter-spacing: 5.71px;
	margin-left: 13px;
}



.header-subtittle{
	font-family:$font-primary;
	color:white;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
	letter-spacing: 0.02em;
}

.scroll-down {
    font-family: $font-primary;
	color: white;
    font-size: 11px;
    line-height: 12.89px;
    letter-spacing: 3.7px;
    text-align: center;
	margin-bottom: 35px;
    margin-left: 5px;
}
    
