<section class="our-story">
  <h2>OUR STORY</h2>
  <div class="content">
    <div class="text-block">
      <p><strong>Founded in 2011 by John Mathew Smith, <span class="highlight">Konstruct</span> has become the number one construction management firm</strong></p>
      <p class="text-p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
      </p>
    </div>
    <div class="features">
      <div class="feature">
        <img src="assets/img/plan.jpg" alt="We Plan">
      </div>
      <div class="feature">
        <img src="assets/img/manage.jpg" alt="We Manage">
      </div>
      <div class="feature">
        <img src="assets/img/deliver.jpg" alt="We Build">
      </div>
    </div>
  </div>
</section>