<section class="capabilities">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Our Capabilities</h2>
        <p class="tittle-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        <a href="#" class="btn btn-primary">All Services</a>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="assets/img/icon1.jpg" alt="Project and Construction Management">
            <h5>Project and Construction Management</h5>
            <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="assets/img/icon2.jpg" alt="Structure Audit and Maintenance">
            <h5>Structure Audit and Maintenance</h5>
            <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="assets/img/icon3.jpg" alt="Factory Construction and Modeling">
            <h5>Factory Construction and Modeling</h5>
            <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
          </div>
        </div>
      </div>
    </div>
  </section>